@import "/src/assets/style/main.scss";

.forecasts {
  display: flex;
  width: 100%;
  background-color: $bg-light-color;
  overflow: hidden;
  border-radius: 10px;

  @include respond(phone) {
    flex-direction: column;
  }

  & .current-day {
    width: 35%;
    display: inline;

    & .header {
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgba(0, 0, 0, 0.1);
      padding: 10px;
      text-align: center;
      font-weight: 400;

      & p {
        margin: 0;
        color: $grey-light;
      }
    }

    & .content {
      text-align: left;
      padding: 20px 20px 10px;

      & .city-name {
        color: $grey-light;
        font-size: $text-size-large;
      }

      & .temperature {
        display: flex;
        align-items: center;

        & p {
          font-size: 80px;
          color: $white;
          margin: 0;
          margin-right: $margin-large;
          font-weight: 700;
        }

        & img {
          width: 20%;
          height: auto;
        }
      }
    }

    & .bottom-content {
      display: flex;
      align-items: center;

      @include respond(phone) {
        justify-content: center;
      }

      & .icon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: $margin-large;

        & img {
          width: 20px;
          height: auto;
        }

        & p {
          color: $grey-light;
          margin-left: 5px;
        }
      }
    }
  }

  & .days {
    width: 65%;
    display: flex;

    @include respond(phone) {
      width: 100%;
    }

    & .day {
      width: 25%;

      &:nth-child(even) {
        background-color: $secondary-color;
      }

      & .header {
        background: rgba(0, 0, 0, 0.1);
        text-align: center;
        padding: 10px;
        font-weight: 400;

        & p {
          margin: 0;
          color: $grey-light;
        }
      }

      & .content {
        padding: 50px 20px 10px;
        text-align: center;

        @include respond(phone) {
          padding: 20px 20px 10px;
        }

        & img {
          width: 50px;
          height: auto;

          @include respond(phone) {
            width: 35px;
          }
        }

        & .temperature {
          font-size: $text-size-large;
          color: $white;
        }
      }
    }
  }
}
