<div class="home-wrapper">
    <div class="location-selection">
        <form [formGroup]="form">
            <input type="text" placeholder="Find your location..." autocomplete="off" formControlName="autocomplete">
            <div class="autocomplete" *ngIf="citiesList?.length && showAutocomplete">
                <div *ngFor="let city of citiesList" class="item" (click)="pickCity(city)">
                    {{city.LocalizedName}}
                </div>
            </div>
        </form>
        <!-- <div *ngIf="form.controls['city'].invalid && (form.controls['city'].dirty || form.controls['city'].touched || clickSubmit)"
            class="alert">
            <p *ngIf="form.controls.city.errors?.required">חסרים פרטים</p>
        </div>
        <div *ngIf="(clickSubmit && (!city?.id || !city) && !form.controls['city'].invalid) || 
    ( cities.value && (!city?.id || !city))" class="alert">
            <p>עיר לא נמצאה</p>
        </div> -->
    </div>
    <div class="add-to-favorites">
        <!-- like button -->
        <div class="wrapper" (click)="favorites()">
            <a #myDiv (click)="myDiv.classList.toggle('is-active')" [ngClass]="{'is-active' : isFavorites}"
                class="like-button">
                <i class="material-icons not-liked bouncy">favorite_border</i>
                <i class="material-icons is-liked bouncy">favorite</i>
                <span class="like-overlay"></span>
            </a>
        </div>
        <!-- City Name -->
        <div class="city-name">{{cuurentCity?.CityDetails?.LocalizedName + ', ' +
            cuurentCity?.CityDetails?.Country.LocalizedName}}</div>
    </div>

    <weather-app-days-forecasts [fourDaysForecasts]="fiveDaysForecasts" [city]="cuurentCity">
    </weather-app-days-forecasts>

</div>