@import "/src/assets/style/main.scss";

.city-wrapper {
  & .header {
    background: rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    font-weight: 400;

    & p {
      margin: 0;
      color: $grey-light;
    }
  }

  & .content {
    padding: 50px 20px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      width: 60px;
      height: auto;
    }

    & .temperature {
      font-size: $text-size-xl;
      color: $white;
      margin-left: $margin-small;
    }
  }

  & .weather-text {
    font-size: $text-size-large;
    color: $white;
    text-align: center;
    font-weight: 100;
  }
}
