$text-size-small: 14px;
$text-size-medium: 18px;
$text-size-large: 20px;
$text-size-defualt: 22px;
$text-size-xl: 32px;

// Desktop sizes
$text-size-large-desktop: 30px;
$text-size-xl-desktop: 50px;

// margin
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
$margin-xl: 50px;

