<div class="favorites-wrapper" *ngIf="favoritesCities?.length">
    <img src="../../../assets/images/arrow.svg" class="arrow left" *ngIf="favoritesCities?.length > 4 || isMobile"
        (click)="moveLeft()" />
    <drag-scroll #carousel [drag-scroll-disabled]="isMobile ? false : true" [snap-duration]="200">
        <div *ngFor="let city of favoritesCities;" (click)="navigate(city)" class="day" drag-scroll-item>
            <weather-app-locations [city]="city"></weather-app-locations>
        </div>
    </drag-scroll>
    <img src="../../../assets/images/arrow.svg" class="arrow right" *ngIf="favoritesCities?.length > 4 || isMobile"
        (click)="moveRight()" />
</div>