@import "/src/assets/style/main.scss";

.favorites-wrapper {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;

  @include respond(phone) {
    width: 100%;
  }

  & .arrow {
    z-index: 9999;
    cursor: pointer;

    @include respond(phone) {
      width: 40px;
      height: auto;
    }
  }

  & .left {
    transform: rotate(90deg);
  }

  & .right {
    transform: rotate(-90deg);
  }

  & drag-scroll {
    width: 100%;
    z-index: 9999;
    text-align: center;
  }

  & .day {
    width: 23%;
    height: 300px;
    z-index: 9999;
    background-color: $bg-light-color;
    margin-left: $margin-small;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
    cursor: pointer;

    @include respond(phone) {
      width: 80%;
    }

    &:nth-child(even) {
      background-color: $secondary-color;
    }
  }
}
