@import "/src/assets/style/main.scss";

.header-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: auto;
  padding: $margin-large;
  background-color: $bg-color;
  color: $white;

  @include respond(phone) {
    flex-direction: column;
  }

  & .logo {
    display: flex;
    align-items: center;
    text-decoration: none;

    & img {
      width: 70px;
    }
    & p {
      font-weight: bold;
      margin-left: $margin-medium;
      letter-spacing: 2px;
      color: $white;
    }
  }

  .menu {
    display: flex;
    align-items: center;

    & .tab {
      color: $white;
      text-decoration: none;
      padding: 5px 25px;
      transition: 0.3s ease-in-out;
      margin-right: $margin-small;
      border: 2px solid transparent;

    //   &:hover {
    //     color: $primary-color;
    //     border: 2px $primary-color solid;
    //     border-radius: 30px;
    //   }
    }

    & .is-active {
      border-color: $primary-color;
      color: $primary-color;
      border: 2px solid;
      border-radius: 30px;
    }

    & .actions {
      display: flex;
      align-items: center;
      margin-left: $margin-large;

      & .dark-mode {
        padding: 5px;
        cursor: pointer;

        & img {
          width: 20px;
          height: auto;
        }
      }

      & .temperature-type {
        margin-left: $margin-medium;
        cursor: pointer;
        padding: 5px;
        width: 15px;
        height: auto;
        font-size: 18px;
        &::after {
          content: "°";
        }
      }
    }
  }
}
